*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin-top: 15px;
}

nav{
     width: 800px;
    background-color: pink;
    margin: 0 auto;
    font-size: 15px;
}

h1{
    background-color: aquamarine;
    padding-left: 100px;
    font-size: 20px;
 
}

.iconosredes {
    padding-right: 100px;
    background-color: aqua;
}